<div class="twelve columns">
  <h6 class="heading_divider">Discover by Genre</h6>
  <%= render partial:'genre_tile', locals:{genre: :action, description: 'Action'} %>
  <%= render partial:'genre_tile', locals:{genre: :comedy, description: 'Comedy'} %>
  <%= render partial:'genre_tile', locals:{genre: :science_fiction, description: 'Sci-Fi'} %>
  <%= render partial:'genre_tile', locals:{genre: :drama, description: 'Drama'} %>  
  <%= render partial:'genre_tile', locals:{genre: :animation, description: 'Animation'} %>
  <%= render partial:'genre_tile', locals:{genre: :eastern, description: 'Eastern'} %> 
  <%= render partial:'genre_tile', locals:{genre: :horror, description: 'Horror'} %>
  <%= render partial:'genre_tile', locals:{genre: :foreign, description: 'Foreign'} %>
  <%= render partial:'genre_tile', locals:{genre: :adventure, description: 'Adventure'} %>
  <%= render partial:'genre_tile', locals:{genre: :indie, description: 'Indie'} %>
  <%= render partial:'genre_tile', locals:{genre: :suspense, description: 'Suspense'} %>
  <%= render partial:'genre_tile', locals:{genre: :romance, description: 'Romance'} %>
</div>