
    <div class="twelve columns">
      <h6 class="heading_divider">New list</h6>
    </div>   

  <div class="six columns">
    <%= list_form.label :name, 'Title:' %>
    <%= list_form.text_field(:name, placeholder: 'Title') %>

    <div class="twelve columns">
      <div class="row">
        <div class="eight columns">
          <div class="row collapse">
            <div class="two mobile-one columns">
              <span class="prefix"><%= image_tag "search.png"%></span>
            </div>
            <div class="ten mobile-three columns">
              <input type="text" id="quick_search" size="30" value="" autocomplete="off" class="ss-input">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="six columns">
    <%= list_form.label :description, 'Overview:' %>
    <%= list_form.text_area(:description, cols: 40, rows: 20, placeholder:'Description') %>



      <div class="six mobile-three columns offset-by-six">
        <%= link_to 'Cancel',:back, :class=>'button radius' %>
        <button data-bind="click: save" class="button radius">Save</button>
        <% if !list.new_record?%>
          <%= link_to 'Delete', list_path(list), method: :delete, :class=>'button radius' %>
        <% end %>
      </div>
      
  </div>

    <div class="twelve columns">
      <h6 class="heading_divider">Films</h6>
    </div>   

  <!-- Thumbnails -->

  <div class="row films" >
    <ol class="nine columns sortable" >
      <% list.films.each_with_index do |film, index| %>
        <%= render partial: 'film_list_item', locals: {film: film, index: index} %>
      <% end %>
    </ol>
  </div>

<script>
  text = 1
  $(".overview-toggle").click(function () {
    $(this).siblings('.film-summary').toggle();
    caption = $(this).text() == 'more info' ? 'close' : 'more info'
    $(this).text(caption)
    // $(this).siblings('.film-summary-main').toggle();
  });

$(function(){
  $('#quick_search').smartSuggest({src: 'films_search', showImages:true })
})

</script>
