<%= render layout: 'layouts/user_simple' do%>

  <div class="twelve columns">
    <table class="friends">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th><%= icon_for :watched %>
          <th><%= icon_for :loved %>
          <th><%= icon_for :owned %>
          <th><%= icon_for :list %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.channels[:facebook].app_friends.each do |friend| %>
          <tr>
            <td>
              <%= link_to user_path(friend) do %>
                <%= avatar friend, 'small' %>
               <% end %>
            </td>
            <td>
             <%= link_to friend.username, user_path(friend) %>
            </td>
            <% [:watched, :loved, :owned].each do |action| %>
              <td>
                <%= link_to user_film_path(friend, action), alt: action, title: action do %>
                  <label style="display:inline"><%= friend.actions_for(action).count %> </label>
                 <% end %>              
              </td>   
            <% end %> 
            <td>
              <%= link_to user_lists_path(friend) do %>
                <label> <%=friend.films_lists.viewable.count %> </label>
              <% end %>
            </td>    
            <td>
             <% if current_user.friends_with? friend  %>
                <%= link_to friendship_path(friend), method: :delete, remote: true, data: {action: :friendship}, :class=>'tiny button radius alert' do %>
                  <%= awesome 'remove', 'icon-large' %> <span>remove friendship</span>
                <% end %>
               <% else %>
                <%= link_to friendship_path(friend), method: :put, remote: true, data: {action: :friendship}, :class=>'tiny button radius success' do %>
                  <%= awesome 'link', 'icon-large' %> <span>create friendship</span>
                <% end %>
            <% end %>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

