<div id="viewContent" class="twelve columns">
  <div class="row collapse" id="user-films-banner">
    <div class="one columns">
      <%= image_tag @user.gravatar_url %>
    </div>
    <div class="three columns user-name">
       <h3><%= @user.name %></h3>
    </div>
    <div class="three columns user-actions">
       <h3 class="list-name">
        <span id="user-films-count"><%= @films_list.count %></span> lists
      </h3>
      <%= link_to('New List', new_user_list_path, :class => 'radius button') if viewing_own? %>
    </div>
  </div>
 
  <div class="row collapse user-list">
    
    <div class="nine columns">
       <% @films_list.each do |list| %>
      <%= content_tag :fieldset, :class => 'row list-summary', data:{href: user_list_path(list.user, list)} do %>
        <legend><%=list.name %></legend>
      
        <div class="five columns user-list">       
          <% list.films.take(10).each do |film| %>
            <div class="left film">
              <%= poster(film, 'w90') %>
            </div>
          <% end %>
        </div> 
        <div class="one columns">
          <%= content_tag :label, "#{list.films.length} films", :class => 'count' %>
        </div>
        <div class="six columns">
          <p><%= list.description %></p>
        </div> 
      </fieldset>
      <% end %>
      <% end %>
    </div>
    <div class="three columns">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4191965276344416";
        /* 120_240_modern_default */
        google_ad_slot = "9854720726";
        google_ad_width = 120;
        google_ad_height = 240;
        //-->
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      <%= render partial:'shared/lovefilm_120x600' %>             
    </div>
  </div>
  
</div>

<script>
$(document).on('click', '.list-summary', function(){window.location = $(this).data('href')})
</script>