<div id="viewContent" class="twelve columns">
  <div class="row collapse" id="user-films-banner">
    <div class="one columns">
      <%= image_tag @user.gravatar_url %>
    </div>
    <div class="three columns user-name">
       <h3><%= @user.name %></h3>
    </div>
    <div class="three columns user-actions">
       <h3 class="list-name">
        <span id="user-films-count"><%= @films_list.count %></span> lists
      </h3>
      <%= link_to('New List', new_user_list_path, :class => 'radius button') if viewing_own? %>
    </div>
  </div>

  <ul class="user-list">
    <% @films_list.each do |list| %>
    <li>
      <%= link_to user_list_path(list.user, list) do %>
        <div class="row list-summary"> 
          <div class="four columns">       
            <div class="row">
              <div class="twelve columns user-list" >
                <% list.films.take(10).each do |film| %>
                  <div class="left film">
                    <%= poster(film, 'w90') %>
                  </div>
                <% end %>
              </div>
            </div>
          </div> 
          <div class="one column">
            <%= content_tag :label, "#{list.films.length} films", :class => 'count' %>
          </div>
          <div class="seven columns">
            <label><%= list.name %></label>  
            <p><%= list.description %></p>
          </div> 
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>