<%= render layout: 'layouts/user', object: user  do %>
  <%= render partial: 'list_meta_tags', locals: {films_list: list} %>

  <div id="viewContent"  class="twelve columns" >
    
    <% if viewing_own? %>
      <div class="nine columns user-actions right">        
        <%= link_to edit_list_path(list), :class=>'right' do %>
          <%= awesome 'pencil' %> edit
        <% end %>
      </div>
    <% end %>

    <div class="nine columns films" id="userList">
      <div class="info">
        <h3 class="list-name"><%= list.name %></h3>
        <p><%= list.description %></p>
        <hr/>
      </div>

      <ol>
        <% list.films.each_with_index do |film, index| %>
          <%= render template: 'film_lists/show', locals: {film: film, index: index} %>
        <% end %>
      </ol>
    </div>

    <div class="three columns">
      <div class="pagination-centered">
        <%= render partial: 'shared/lovefilm_300x250' %>                      
      </div>
    </div>

  </div>

<% end %>