  <p class="title" data-section-title><a href="#panel5">Details</a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-7 small-12 columns">
        <%= simple_form_for(resource, as: resource_name,  url: registration_path(current_user), html: { method: :put, id: 'profileDetailsForm', multipart: true }, remote: true) do |f| %>
        <%#= form_for(current_user, :as => 'user', :url => registration_path(current_user), :html => { :method => :put, id: 'profile-details' }, validate: true, remote: true) do |f| %>
          <%#= devise_error_messages! %>

          <div class="row">
            <div class="large-4 small-12 columns">
              <%= f.label :username, 'Username:' %>
            </div>
            <div class="large-8 small-12 columns">
              <%= f.input :username, tabindex: 1, placeholder: 'Username', hint: false, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="large-4 small-12 columns">
              <%= f.label :email, 'Email:' %>
            </div>
            <div class="large-8 small-12 columns">
              <%= f.input :email, required: :required, placeholder: 'youremail@mail.com', hint: false, label: false  %>
            </div>
          </div>
          <div class="row">
            <div class="large-4 small-12 columns">
              <%= f.label :first_name, 'First name:' %>
            </div>
            <div class="large-8 small-12 columns">
              <%= f.input :first_name, placeholder: 'Clark', :validate => true, hint: false, label: false  %>
            </div>
          </div>
          <div class="row">
            <div class="large-4 small-12 columns">
              <%= f.label :last_name, 'Last name:' %>
            </div>
            <div class="large-8 small-12 columns">
              <%= f.input :last_name,  placeholder: 'Kent', :validate => true, hint: false, label: false  %>
            </div>
          </div>
          <%#= f.simple_fields_for :profile do |profile| %>
            <div class="row">
              <div class="large-4 small-12 columns">
                <%= f.label :avatar, 'Upload an avatar' %>
              </div>
              <div class="large-8 small-12 columns">
                <%= f.input :avatar, placeholder: 'Avatar.jpg', :validate => true, hint: false, label: false, as: :file  %>
              </div>
            </div>
          <%# end %>
          <div class="row">
            <div class="large-4 small-12 columns">
              <%= f.label  :password, 'new password' %>  
            </div>
            <div class="large-8 small-12 columns">
              <%= f.input :password,  :autocomplete => "off" , label: false%>
            </div>
          </div>

          <div class="row">
            <div class="large-4 small-12 columns">
              <%= f.label :password_confirmation, 'confirm new password', hint: false, label: false  %>
            </div>
            <div class="large-8 small-12 columns">
              <%= f.input :password_confirmation, placeholder: 'eg. X8df!90EO', hint: false, label: false  %>
            </div>
          </div>

          <%# if current_user.encrypted_password %>
         <!--    <div class="row">
              <div class="large-4 small-12 columns">
                <%#= f.label :current_password, 'current password (to confirm your changes)' %>
              </div>
              <div class="large-8 small-12 columns">
                <%#= f.input :current_password, placeholder: 'eg. X8df!90EO', hint: false, label: false, hidden:true  %>
              </div>
            </div> -->
          <%# end %>

          <% if current_user.username? %>

            <div class="row">
              <div class="arge-12 small-12 columns text-center">
              <%= link_to :back do %>
                <input type="button" value="Back"/> 
              <% end %>
                <input type="submit" name="update" id="update" value="Update" >
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="arge-12 small-12 columns text-center">
                <input type="submit" name="update" id="update" value="Update">
              </div>
            </div>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>
</section>