<div class="row">
  <div class="large-4 small-12 columns">

    <h2>Welcome filmlover!</h2>
    <p>After you have signed up, you can start keeping a history of films you have watched, the ones you love, even the ones you own!</p>
    <p>By adding friends, you can recommend films you think they will love, and get recommendations yourself!</p>
  </div>
  <div class="large-4 small-12 columns">
  <h2>Join simply in one click...</h2>
  <ul class="signup-options">
    <%= passport_link :facebook, "Facebook" %>
    <%= passport_link :twitter, "Twitter" %>
    <%= passport_link :netflix, "Netflix" %>      
    <%= passport_link :google_oauth2, "Google" %>
  </ul>
  </div>
  <div class="large-4 small-12 columns">
    <h2>or more traditionally...</h2>
    <%= simple_form_for(@user || User.new, url: '/users', html:{id: 'signupform'}, remote: true) do |f| %>
      <input type="hidden" name="invite_code" value="<%= params[:invite_code] %>"/>
      <label for="username"></label>
      <%= f.input :username, tabindex: 1, placeholder: 'Username', hint: false, label: false%>
      <label for="email"></label>
      <%= f.input :email, tabindex: 2, placeholder: 'Email', hint: false, label: false %>
      <label for="password"></label>
      <%= f.input :password, tabindex: 3, placeholder: 'Password', hint: false, label: false %>
      <input type="submit" name="signupbutton" id="signupbutton" value="Join!" tabindex="4">
   <% end %>
  </div>
</div>
