<div class="row">
  <!-- Side Bar -->
  <div class="two mobile-four columns pagination-centered">
    <%= image_tag "http://placehold.it/500x500&text=#{params[:query]}" %>
    <div class="hide-for-small panel">
      <h3>
        Search Results
      </h3>
      <h5 class="subheader">
        <%= params[:query] %>
      </h5>
    </div><a href="#"></a>
    <div class="panel callout radius" align="center">
      <h6>
        Found <%= @film_search_results.count %> films
      </h6>

    </div>
      <ul class="pagination">
        <%= page_search_results(@film_search_results.page_no, @film_search_results.page_total) %>
      </ul>

  </div><!-- End Side Bar -->
  <!-- Thumbnails -->
  <div class="ten columns">
    <div class="row films">
      <%= render partial:'shared/film', collection: @film_search_results.films %><!-- End Thumbnails -->
    </div>
  </div>
</div>