
    
  <!-- Header and Nav -->
  
  <div class="row">
    <div class="seven columns">
      <h1><%= @film_view.title %> </h1><label><%= directed_by(@film_view) %> <%= year(@film_view)%><label>
      
    </div>
    <div class="five columns">
      <ul class="nav-bar right">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#cast">Cast</a></li>
        <li><a href="#">Trailers</a></li>
        <li><a href="#">Similar</a></li>
      </ul>
    </div>
  </div>
  
  <!-- First Band (Image) -->
    
  <div class="row">
    <div class="twelve columns">
      <%= image_tag @film_view.backdrop('w1280') %>
      <hr />
    </div>
  </div>

  <!-- End Header and Nav -->

  <div class="row">
    <div class="three columns">
     <%= image_tag @film_view.film.poster('original') %>
    </div>
    <div class="five columns">
      <h4 id="overview">Overview</h4>
      <div class="row">

        <div class="twelve columns">
           <p>
            <% @film_view.film.genres.each do |genre| %>
              <%= link_to root_path do %>
                <%= content_tag :span, genre['name'], {:class => 'genre link'} %>
              <% end %>
            <% end %>
          </p>
          <p><%= @film_view.film.overview %></p>
        </div>
      </div>
    </div>
    <div class="four columns credits">
      <h4 id="cast">Cast</h4>
      <div class="row">
        <div class="twelve columns crew">
          <p>
            <% @film_view.film.credits.cast.each do |cast| %>
              <%= link_to root_path do %>
                <%= content_tag :span, cast['name'], {:class => 'person link'} %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <h4>Crew</h4>
      <div class="row">
        <div class="twelve columns crew">
          <p>
            <% @film_view.film.credits.crew.each do |cast| %>
              <%= link_to root_path do %>
                <%= content_tag :span, cast['name'], {:class => 'person link'} %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Third Band (Image Right with Text) -->
  
  <div class="row">
     <h4>Similar Films</h4>
      <div class="row">
        <div class="twelve columns">
          <div class="row films">
          <% @film_view.similar_films.each do |film| %>
            <div class="film">
              <%= link_to film_path(film.film.id) do %>
                <%= image_tag(film.thumbnail('w90'), :title => film.title, :class => 'small') %>
              <%end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>