<% pagination ||= paginate presenter.film_entries %>

<%# films_entries_presenter =presenter.films_entries_presenter %>

<div class="row margin-bottom" id="films-content">
  <div class="large-12 columns text-center">
    <%= pagination %>
  </div> 
  <% presenter.film_entries.each do |film_entry| %>
    <% present(film_entry) do |film_entry_presenter| %>
        <%= div_for film_entry.film, class: 'large-2 small-6 columns' do %>
          <%= content_tag :div, class: 'flip-container', data: {'film-url'=> film_path(film_entry.film)} do %>
            <div class="upper">
               <%= film_entry_presenter.poster %>
            </div>
            <div class="lower actions">
              <% if logged_in? %>
                <ul>
                  <li class="share"><a href="#">Share</a></li>
                  <li class="add"><a href="#">Add</a></li>            
                  <li class="shop"><a href="#">Shop</a></li>
                </ul>
              <% end %>
              <p>
                <%= link_to 'More Info', summary_film_path(film_entry.film), class: 'button', data: {'reveal-id' => 'filminfo', 'reveal-ajax' => true} %>
                <%= link_to 'Trailer', summary_film_path(film_entry.film), class: 'button', data: {'reveal-id' => 'filminfo', 'reveal-ajax' => true} %>
              </p>
            </div>
          <% end %>
          <ul class="user-rankings">
            <% [:watched, :loved, :owned].each do |action| %>
                <%= film_entry_presenter.counter_link action %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  <div class="large-12 columns text-center">
    <%= pagination %>
  </div>   
</div>

