<% set_meta_tags :description => "A complete list of all the films you have #{user_action}" %>

  <div id="contentHolder">
    <div class="ten columns films centered" id="filmsContent" >
      <div class="twelve columns">
        <div class="seven column">
          <h5> <%= " #{pluralize @films_page.films.count, 'films'} #{user_action}" %> </h5>
        </div>
        <div class="two columns">
          <label>Sort by</label>
            <select id="sort-option">
              <%= user_films_sort_option user, user_action, :release_date, :desc, "Newest Release"  %>
              <%= user_films_sort_option user, user_action, :release_date, :asc, "Oldest Release"  %>
              <%= user_films_sort_option user, user_action, :title, :asc, "Title A-Z"  %>
              <%= user_films_sort_option user, user_action, :title, :desc, "Title Z-A"  %>
            </select>
        </div>
      </div>
      <%= render partial: 'films/film', collection: @films_page.films, as: :film_presenter %>
      <%= page_link @films_page.next?, @films_page.next_params, "", "filmsLinkNext" %>
    </div>
  </div>

<% if viewing_own? and current_user %>
<script>
 $(document).on('film:<%= user_action.to_sym %>:unactioned', function(event, film){
    film.toggle(function(){
      counter = $('#user-films-count')
      counter.text(parseInt(counter.text()) - 1)
      film.remove()
    })

})
</script>
<% end %>