<% if viewing_own? %>
<div class="row">
  <div class="four columns">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <%= nav_link 'Confirmed', friendships_path(filter: :confirmed) %>
      <%= nav_link 'Received', friendships_path(filter: :received) %>
      <%= nav_link 'Requested', friendships_path(filter: :requested) %>
      <%= nav_link 'Ignored', friendships_path(filter: :ignored) %>
    </dl>
  </div>
</div>
<% end %>
<div class="twelve columns">

  <table class="friends">
    <thead>
      <tr>
        <th></th>
        <th>Username</th>
        <th>Watched</th>
        <th>Loved</th>
        <th>Owned</th>
        <!-- <th>Lists</th> -->
        <th>Rating</th>
         <% if viewing_own? %><th>Actions</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% friendships.each do |friendship| %>
      <% present(friendship.friend, UserPresenter) do |presenter| %>
        <tr>
          <td>
            <%= link_to user_path(friendship.friend) do %>
              <%= presenter.avatar %>
             <% end %>
          </td>
          <td>
            <%= link_to friendship.friend.username, user_path(friendship.friend) %>
          </td>
          <% [:watched, :loved, :owned].each do |action| %>
            <td>
              <%= link_to user_film_entry_path(friendship.friend, action) do %>
                <label style="display:inline"><%= friendship.friend.film_entries.count_for action %> </label>
               <% end %>              
            </td>   
          <% end %> 
<!--           <td>
            <%#= link_to user_lists_path(friendship.friend) do %>
              <label> <%#=friendship.friend.films_lists.viewable.count %> </label>
            <%# end %>
          </td>    --> 
          <td>
           <%= number_to_percentage(current_user.compare_to(friendship.friend).overall, precision: 1) %>
          </td>
          <% if viewing_own? %>
            <td>
              <%= render partial: "friendships/#{friendship.state}", locals: {friend: friendship.friend} %>            
            </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

