<%# if viewing_own? %>
<!-- <div class="row">
  <form id="filter" action="">
    <div class="large-4 small-6 large-offset-8 columns">
      <div class="large-3 small-12 columns">
        <p>Filter</p>
      </div>
      <div class="large-9 small-12 columns">
        <select name="filterlist" id="filterlist">
          <option selected>All</option>
          <option>Received</option>
          <option>Approved</option>
          <option>Rejected</option>
        </select>
      </div>
    </div>
  </form>
</div> -->
<%# end %>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>Friend's username</td>
            <td align="center">Watched</td>
            <td align="center">Loved</td>
            <td align="center">Owned</td>
            <td align="center">Similarity</td>
            <% if viewing_own? %><td align="center">Actions</td><% end %>
          </tr>
          <% friendships.each do |friendship| %>
          <% present(friendship.friend, UserPresenter) do |presenter| %>
            <tr>
              <td>
                <%= link_to user_path(friendship.friend) do %>
                  <%= presenter.avatar %>
                  <%= friendship.friend.username %>
                <% end %>
              </td>
              <% [:watched, :loved, :owned].each do |action| %>
                <td align="center">
                  <%= link_to user_film_entry_path(friendship.friend, action) do %>
                    <%= friendship.friend.film_entries.count_for action %> 
                  <% end %>              
                </td>   
              <% end %> 
              <td align="center">
               <%= number_to_percentage(current_user.compare_to(friendship.friend).overall, precision: 1) %>
              </td>
              <% if viewing_own? %>
                <td align="center">
                  <p>
                  <%= render partial: "friendships/#{friendship.state}", locals: {friend: friendship.friend} %>  
                  </p>          
                </td>
              <% end %>
            </tr>
        <% end %>
        <% end %>
      </table>
  </div>
</div>
