
<div class="full-row page-title  margin-bottom">
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1>Users</h1>
    </div>
  </div>
</div>

  <div class="row margin-bottom" id="films-content">
    <div class="large-12 columns text-center">
      <%= paginate users %>
    </div> 
 
    <table class="friends">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Watched</th>
          <th>Loved</th>
          <th>Owned</th>
          <th>Lists</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |friend| %>
        <% present(friend, UserPresenter) do |presenter| %>
            <tr>
              <td>
                <%= link_to user_path(friend) do %>
                  <%= presenter.avatar %>
                 <% end %>
              </td>
              <td>
               <%= link_to friend.username, user_path(friend) %>
              </td>
              <% [:watched, :loved, :owned].each do |action| %>
                <td>
                  <%= link_to film_entry_path(friend, action), alt: action, title: action do %>
                    <label style="display:inline"><%= friend.films.find_by_action(action).count %> </label>
                   <% end %>              
                </td>   
              <% end %> 
              <td>
                <%= link_to user_lists_path(friend) do %>
                  <label> <%=friend.films_lists.viewable.count %> </label>
                <% end %>
              </td>    
              <td class="friendship">
                <% if friendship = current_user.friendship_with(friend)  %>
                  <%= render partial: "friendships/#{friendship.state}", locals: {friend: friend} %>            
                <% else %>
                  <%= render partial: "friendships/pending", locals: {friend: friend} %>  
                <% end %>              
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="large-12 columns text-center">
      <%= paginate users %>
    </div> 
  </div>
</div>
