<%= render layout: 'layouts/user_simple' do%>

  <div class="twelve columns">
    <%= page_entries_info users %>
    <table class="friends">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th><%= icon_for :watched %>
          <th><%= icon_for :loved %>
          <th><%= icon_for :owned %>
          <th><%= icon_for :list %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |friend| %>
          <tr>
            <td>
              <%= link_to user_path(friend) do %>
                <%= avatar friend, 'small' %>
               <% end %>
            </td>
            <td>
             <%= link_to friend.username, user_path(friend) %>
            </td>
            <% [:watched, :loved, :owned].each do |action| %>
              <td>
                <%= link_to user_film_path(friend, action), alt: action, title: action do %>
                  <label style="display:inline"><%= friend.actions_for(action).count %> </label>
                 <% end %>              
              </td>   
            <% end %> 
            <td>
              <%= link_to user_lists_path(friend) do %>
                <label> <%=friend.films_lists.viewable.count %> </label>
              <% end %>
            </td>    
            <td class="friendship">
              <% if friendship = current_user.friendship_with(friend)  %>
                <%= render partial: "friendships/#{friendship.state}", locals: {friend: friend} %>            
              <% else %>
                <%= render partial: "friendships/pending", locals: {friend: friend} %>  
              <% end %>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to_previous_page users, 'Previous Page' %>
    <%= link_to_next_page users, 'Next Page', :class=>'right' %>

      </div>
<% end %>

