<%= render partial: 'users/meta_tags' %>
<% present(user, UserPresenter) do |presenter| %>
  <div class="full-row inner-hero margin-bottom">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="right-fade"></div>
        <div class="left-fade"></div>
        <%= presenter.cover_image %>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="large-12 small-12 columns">
      <div class="pod margin-bottom account">
        <%= presenter.avatar %>
        <% if viewing_own? %>
          <h2><%= presenter.username %> - Your profile</h2>
          <a href="#" class="secondary button">Log out</a>
        <% elsif logged_in? %>
          <h2><%= presenter.username %></h2>
          <% if friendship = current_user.friendship_with(presenter.user)  %>
            <%= render partial: "friendships/#{friendship.state}", locals: {friend: presenter.user} %>            
          <% else %>
            <%= render partial: "friendships/pending", locals: {friend: presenter.user} %> 
          <% end %> 
        <% else %>
          <h2><%= presenter.username %></h2>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="large-12 small-12 columns">
      <div class="inner-tabs">
        <div class="section-container auto" data-section>
          <section <%= 'class=active' if params[:action]=='film_entries' %>>
            <p class="title" data-section-title><a href="#panel1">Films</a></p>
            <div class="content" data-section-content>
              <%= render partial: 'films', locals: {presenter: presenter} %>
            </div>
          </section>
<!--           <%# if viewing_own? %>
            <section <%#= 'class=active' if params[:action]=='recommendations' %>>
              <p class="title" data-section-title><a href="#panel2">Recommendations</a></p>
              <div class="content" data-section-content>
                <%#= render partial: 'recommendations', locals: {presenter: presenter} %>
              </div>
            </section>
          <%# end %> -->
<!--          <section <%#= 'class=active' if params[:action]=='lists' %>>
            <p class="title" data-section-title><a href="#panel3">Lists</a></p>
            <div class="content" data-section-content>
              <p>Lists</p>
            </div>
          </section> -->
          <% if logged_in? %>
           <section <%= 'class=active' if params[:action]=='friendships' %>>
              <p class="title" data-section-title><a href="#panel4">Friendships</a></p>
              <div class="content friendships-content" data-section-content>
                <%= render partial: 'friendships', locals: {friendships: presenter.user.friendships}%>
              </div>
            </section>
          <% end %>
          <% if viewing_own? %>
             <section <%= 'class=active' if params[:action]=='details' %>>
              <%= render template: 'devise/registrations/edit' %>
            </section>         
 <!--             <section <%#= 'class=active' if params[:action]=='settings' %>>
              <p class="title" data-section-title><a href="#panel6">Settings</a></p>
              <div class="content" data-section-content>
                <p>Settings</p>
              </div>
            </section> -->
           <% end %> 
        </div>
      </div>
    </div>
  </div>
<% end %>