<div class="large-12 columns" id="film-content-overview">

  <h3><%= tagline(film) %></h3>
  <%= render partial:'film_poster' %>
  <div class="large-9 columns">


  <div class="large-7 columns">
    <%= render partial: 'backdrop', locals: {film: film, size: 'w780'} %>
  </div>

    
    <div class="cast">
      <label>starring</label>
      <% film.credits.cast.take(3).each do |person| %>
        <%= person_link person %>
      <% end %>
    </div>
    <div class="genre">
      <label>genre</label>
      <% film.genres.each do |genre| %>
        <%= genre_link genre %>
      <% end %>
    </div>
     <% if film.runtime %>
      <div class="synopsis">
        <label>synopsis</label>
        <p><%= film.overview %></p>
      </div>
    <% end %>
    <% if film.runtime and film.runtime > 0%>
      <div class="duration">
        <label>runtime</label>
        <span><%= runtime film %></span>
      </div>
    <% end %>
     <% if film.release_date %>
      <div class="release_date">
        <label>release date</label>
        <span>
          <%= film.release_date.strftime('%d/%m/%Y') %>
        </span>
      </div>
    <% end %>
     <% if film.studios?%>
      <div class="studios">
        <label>studios</label>
        <span>
          <%= film.production_companies.map {|f|f['name']}.join(', ') %>
        </span>
      </div>
    <% end %>
    <% if film.homepage %>
      <div class="website">
        <label>website</label>
        <span><%= link_to film.homepage, film.homepage, target: '_blank' %></span>
      </div>
    <% end %>
    <% if film.imdb_id %>
      <div class="imdb">
        <label>IMDB</label>
        <span><%= content_tag :a, "http://www.imdb.com/title/#{film.imdb_id}", href: "http://www.imdb.com/title/#{film.imdb_id}", target: '_blank' %></span>
      </div>
    <% end %>
  </div>
  
</div>