 <% present(person, PersonPresenter) do |presenter| %>
  <div class="full-row margin-bottom page-title">
    <div class="row">
      <div class="large-12 small-12 columns">
        <h1><%= person.name %></h1>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="large-3 small-12 columns">
      <div class="default-image">
        <%= image_tag person.profile('w342') %>
      </div>
      <h4>Bio</h4>
      <p>
        <%= presenter.short_bio %> <br />
        <a href="#" data-reveal-id="fullbio">Read more...</a>
      </p>
      <%= show_details 'Place of birth', person.place_of_birth %>
      <%= show_details 'Birthday', presenter.dob %>
    </div>
    <div class="large-9 small-12 columns">
      <div class="margin-bottom">
        <div class="inner-tabs">
          <div class="section-container auto" data-section>
            <% if !presenter.films_starred_in.empty? %>
              <section>
                <p class="title" data-section-title><a href="#panel1">Starred in</a></p>
                <div class="content" data-section-content>
                  <div class="row">
                    <% presenter.films_starred_in.each do |roles| %>
                      <div class="large-3 small-6 columns text-center">
                        <div class="character">
                          <h5>Character played</h5>
                          <p><%= roles[:character] %></p>
                        </div>
                        <%= throw roles unless roles[:film_presenter].film %>
                        <%= div_for roles[:film_presenter].film do %>
                          <%= render partial: 'films/film_container', locals: {presenter: roles[:film_presenter]} %>   
                        <% end %>              
                      </div>
                    <% end %>
                  </div>
                </div>
              </section>
            <% end %>
            <% if !presenter.films_worked_on.empty? %>
              <section>
                <p class="title" data-section-title><a href="#panel2">Worked on</a></p>
                <div class="content" data-section-content>
                  <div class="row">
                    <% presenter.films_worked_on.each do |roles| %>
                    <% if roles[:film_presenter] %>
                      <div class="large-3 small-6 columns text-center">
                        <div class="character">
                          <h5><%= roles[:department]%></h5>
                          <p><%= roles[:job]%></p>
                        </div>
                        <%= div_for roles[:film_presenter].film do %>
                          <%= render partial: 'films/film_container', locals: {presenter: roles[:film_presenter]} %>      
                        <% end %>             
                      </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </section>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="fullbio" class="reveal-modal medium">
  <div class="row">
    <div class="large-12 small-12 columns">
      <h1><%= person.name %></h1>
      <p><%= person.biography %></p>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<% end %>

