
<%= render layout: 'layouts/user_simple' do%>

  <div class="twelve columns">
    <table class="friends">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th><%= icon_for :watched %>
          <th><%= icon_for :loved %>
          <th><%= icon_for :owned %>
          <th><%= icon_for :list %>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.friendships.confirmed.map(&:friend).each do |friend| %>
          <tr>
            <td>
              <%= link_to user_path(friend) do %>
                <%= avatar friend, 'small' %>
               <% end %>
            </td>
            <td>
              <%= link_to friend.username, user_path(friend) %>
            </td>
            <% [:watched, :loved, :owned].each do |action| %>
              <td>
                <%= link_to user_film_path(friend, action) do %>
                  <label style="display:inline"><%= friend.actions_for(action).count %> </label>
                 <% end %>              
              </td>   
            <% end %> 
            <td>
              <%= link_to user_lists_path(friend) do %>
                <label> <%=friend.films_lists.viewable.count %> </label>
              <% end %>
            </td>    
            <td>
             <%= number_to_percentage(current_user.compare_to(friend).overall, precision: 1) %>
            </td>
            <td>
              <%= render partial: 'friendships/friend_link', locals: {friend: friend} %>            
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

