<% current_user.friendships.confirmed.each do |friendship| %>
  <div class="user-avatar left">
    <%= link_to user_path(friendship.friend) do %>
      <%= avatar friendship.friend %>
      <label><%= friendship.friend.username %></label>
     <% end %>
    <% [:watched, :loved, :owned].each do |action| %>
      <%= link_to user_film_path(friendship.friend, action) do %>
        <%= icon_for action %>
        <label style="display:inline"><%= friendship.friend.actions_for(action).count %> </label>
      <% end %>
    <% end %>
  </div>
<% end %>