<% present(friend, UserPresenter) do |presenter| %>
  <div class="user-avatar left">
    <%= link_to user_path(friend) do %>
      <%= presenter.avatar %>
      <label><%= friend.username %></label>
    <% end %>
    <% [:watched, :loved, :owned].each do |action| %>
      <%= link_to user_film_path(friend, action) do %>
        <label style="display:inline"><%= friend.find_film_entries_by_action(action).count %> </label>
      <% end %>
    <% end %>
  </div>
<% end %>