<div class="four columns credits" id="credits">
  <dl class="tabs">
    <dd class="active"><a href="#cast">Cast</a></dd>
    <dd><a href="#crew">Crew</a></dd>
    <dd><a href="#films">Similar Films</a></dd>
  </dl>
  <ul class="tabs-content">
    <li class="active" id="castTab">
      <div class="row">
        <div class="twelve columns crew">
          <ul class="disc credits">
            <% @film_view.film.credits.cast.each do |person| %>
            <li style="border-bottom: dotted 1px lightblue;">
              <%= link_to person_path(person.id), remote:true do %>
                <%= content_tag :span, person.name, {:class => 'person link'} %>
              <% end %>
              <span class="right"> <%= person.character %> </span>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
    <li id="crewTab">
      <div class="row">
        <div class="twelve columns crew">
          <ul class="disc credits">
          <% @film_view.film.credits.crew.each do |person| %>
            <li style="border-bottom: dotted 1px lightblue;">
              <%= link_to person_path(person.id), remote:true do %>
                <%= content_tag :span, person.name, {:class => 'person link'} %>
              <% end %>
              <span class="right"> <%= person.job %> </span>
            </li>
            <% end %>
          </ul> 
        </div>
      </div>
    </li>
    <li id="filmsTab">
      <%= render partial: 'similar_films' %>
    </li>
  </ul>
</div>