<section>
  <p class="title" data-section-title><a href="#panel1">Details</a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-4 small-3 columns poster">
        <%= poster film %>
        <ul class="shop-online">                      
          <li> <%= render partial: 'shared/amazon_search', locals: {title: "#{film.title} #{film.year}"} %></li>
          <li> <%= render partial: 'shared/itunes', locals: {title: "#{film.title}"} %></li>
        </ul>
      </div>
      <div class="large-8 small-9 columns">
          <h4>Alternative titles</h4>
          <p><%= presenter.alternative_titles.join('<br/>').html_safe %></p>
          <h4>Budget</h4>
          <p><%= Utilities.to_currency film.budget ,{precision: 0} %></p>
          <h4>Runtime</h4>
          <p><%= presenter.runtime %></p>
          <h4>Status</h4>
          <p><%= film.status %></p>
          <h4>Release Date</h4>
          <p><%= film.uk_release_date.to_date.strftime('%d %B %Y')  %></p>
      </div>
    </div>
  </div>
</section>