<section>
  <p class="title" data-section-title><a href="#panel1">Details</a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-4 small-3 columns poster">
        <%= presenter.poster  %>
        <ul class="shop-online">                      
          <li> <%= render partial: 'adverts/amazon_search', locals: {title: "#{film.title} #{film.year}"} %></li>
          <li> <%= render partial: 'adverts/itunes', locals: {title: "#{film.title}"} %></li>
        </ul>
      </div>
      <div class="large-8 small-9 columns">
        <%= show_details 'Rating', presenter.rating %>
        <%= show_details 'Original title', presenter.original_title%>
        <%= show_details 'Budget', presenter.budget %>
        <%= show_details 'Languages', presenter.languages %>
        <%= show_details 'Runtime', presenter.runtime %>
        <%= show_details 'Status', presenter.status %>
        <%= show_details 'Release Date', presenter.release_date %>
        <%= show_details 'Homepage', film.homepage %>
        <%= show_details 'Other', presenter.other_links %>
      </div>
    </div>
  </div>
</section>