<%= content_tag :div, class: 'flip-container', data: {'film-url'=> film_path(presenter.film)} do %>
  <div class="upper">
     <%= presenter.poster %>
  </div>
  <div class="lower actions">
    <% if logged_in? %>
      <ul>
        <li class="share"><a href="#">Share</a></li>
        <li class="add"><a href="#">Add</a></li>            
        <li class="shop"><a href="#">Shop</a></li>
      </ul>
    <% end %>
    <p>
      <%= link_to 'More Info', summary_film_path(presenter.film), class: 'button', data: {'reveal-id' => 'filminfo', 'reveal-ajax' => true} %>
      <%= link_to 'Trailer', summary_film_path(presenter.film), class: 'button', data: {'reveal-id' => 'filminfo', 'reveal-ajax' => true} %>
    </p>
  </div>
<% end %>

<%= render partial: 'films/film_entry_panel', locals: {film_entry: presenter.film_entry} %>
