<%= div_for film do %>

  
  <div class="film-heading-border film-title">
     <%= title_with_year film %>
  </div>

  <div class="film-info">
     <%= film_poster_link film %>

     <% if logged_in? %>
      <div class="film-action-buttons">
        <% [:watched, :loved, :owned].each do |action| %>
          <%= action_icon action, film %>
        <% end %>
        <%= link_to queue_path(current_user, :list, film_ids: film), :class=>'display-modal unactioned' do %>
          <%= awesome 'list' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="film-heading-border film-director">
    <% [:watched, :loved, :owned].each do |action| %>
      <span>
        <%= link_to users_film_path(film, action) do %>
          <%= film_action_counter film, action %>
          <%= label_tag film.id, data: {counter: action} do %> 
            <%= film.actions_for(action).count %>
          <% end %>
        <% end %>
      </span>
    <% end %>

  </div> 
<% end %>

