<%= div_for film_presenter.film do %>

  
  <div class="film-heading-border film-title">
     <%= title_with_year film_presenter %>
  </div>

  <div class="film-info">
     <%= film_poster_link film_presenter.film %>

     <% if logged_in? %>
      <div class="film-action-buttons">
        <% [:watched, :loved, :owned].each do |action| %>
          <%= action_icon action, film_presenter %>
        <% end %>
        <%= link_to queue_path(current_user, :list, film_ids: film_presenter.id), :class=>'display-modal unactioned' do %>
          <%= awesome 'list' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="film-heading-border film-director">
    <% [:watched, :loved, :owned].each do |action| %>
      <span>
        <%= link_to users_film_path(film_presenter.film, action) do %>
          <%= icon_for action, film_presenter.actioned?(action) %>
          <%= label_tag film_presenter.id, data: {counter: action} do %> 
            <%= film_presenter.stats(action) %>
          <% end %>
        <% end %>
      </span>
    <% end %>

  </div> 
<% end %>

