<%= div_for film_presenter.film do %>
<!--<div class="film-heading-border film-title">
    <%#= title_with_year film_presenter %>
  </div>-->
  <div class="film-info">
    <div class="film-stats">
      <% [:watched, :loved, :owned, :queued].each do |action| %>
        <%= content_tag :label, film_presenter.stats(action) || "&nbsp;".html_safe %>
        <%= action_icon action, film_presenter %>
      <% end %>
    </div>
    <%= film_poster_link film_presenter.film %>
  </div>
  <div class="film-heading-border film-director">
    <%= title_with_year film_presenter %>
  </div> 
<% end %>