<%= render partial: 'film_meta_tags', locals: {film: @film_view.film} %>

<div id="viewContent" class="twelve columns">
    <!-- Header and Nav -->
  <div class="twelve columns">
    <h3 style="float:right; display:inline"><i class="icon-heart"> <%= @film_view.film.score %> </i></h3>
    <div class="row">
      <div class="seven columns">
        <h1 class="film-title"><%= @film_view.title %></h1>
        <label>Directed by <span><%= @film_view.director %></span> <span><%= year(@film_view) %></span><label>  
      </div>
      <div class="five columns">
        <ul class="nav-bar right">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#credits">Credits</a></li>
          <% if @film_view.has_trailer?   %> <li><a href="#" id="trailersLink" data-reveal-id="filmTrailersModal" data-animation="none" >Trailers</a></li><% end %>
        </ul>
      </div>
    </div>
    
    <%= render partial: 'backdrop' %>

    <div class="row">
      <div class="two columns">
        <%= image_tag @film_view.film.poster('w342') %>
        <div id="shopLinks">
          <%= render partial: 'shared/amazon_search', locals: {title: "#{@film_view.title} #{@film_view.year}"} %>
          <%= render partial: 'shared/itunes', locals: {title: "#{@film_view.title}"} %>
        </div>
      </div>
      <% if logged_in? %>
      <div class="one columns" id="film-main-actions">
        <div class="film-actions-vertical pagination-centered" >
          <% [:watched, :loved, :owned].each do |action| %>
            <%= action_button action, @film_view %>
          <% end %>
        </div>
      </div>
      <% end %>
      <div class="five columns">
        <h4 id="overview"><%= tagline(@film_view.film) %></h4>
        <div class="row">
          <div class="twelve columns">
            <%= render partial: 'shared/twitter', locals: {film: @film_view.film} %>
            <%= render partial: 'shared/facebook_like', locals: {film: @film_view.film} %>
            <p>
              <% @film_view.film.genres.each do |genre| %>
                <%= genre_link genre %>
              <% end %>
            </p>
            <p><%= @film_view.film.overview %></p>
          </div>
        </div>
      </div>
      <%= render partial: 'cast_credits' %>
    </div>
  </div>
  <div id="filmTrailersModal" class="reveal-modal xlarge">
    <div class="row" id="trailers">
        <div class="twelve columns">
          <div class="flex-video">
            <%= trailer(@film_view.film) %>
          </div>
        </div>
    </div>
    <label class="close-reveal-modal">×</label>
  </div>
</div>

<script> $("#featured").orbit({directionalNav:true, fluid:false, timer:false})</script>

