<%= render layout: 'layouts/viewmodel', locals: {model: 'FilmModel'} do %>

  <!-- Header and Nav -->
<div class="twelve columns">
  <div class="row">
    <div class="seven columns">
      <h1 class="film-title" data-bind="text: title"></h1><label>Directed by <span data-bind="text: director"></span> <span data-bind="text: '(' + year + ')', visible: year"></span><label>  
    </div>
    <div class="five columns">
      <ul class="nav-bar right">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#credits">Credits</a></li>
        <% if @film_view.has_trailer?   %> <li><a href="#" id="trailersLink" data-reveal-id="filmTrailersModal" data-animation="none" >Trailers</a></li><% end %>
      </ul>
    </div>
  </div>
  

  <!-- First Band (Image) -->
  <% if @film_view.has_backdrop? %>
  <div class="row">
    <div class="twelve columns centered">
      <div id='featured'>
        <% @film_view.backdrops.each do | backdrop | %>
          <%= image_tag AppConfig.image_uri_for(['w1280', backdrop['file_path']]) %>
        <% end %>
      </div>
      <hr />
    </div>
  </div>
  <% end %>
  <!-- End Header and Nav -->

  <div class="row">
    <div class="two columns">
     <%= image_tag @film_view.film.poster('w342') %>
    </div>
    <div class="one columns ">
      <div class="film-actions-vertical pagination-centered" data-bind="foreach: actions">
        <button class="tiled" data-bind="click: action">
            <i data-bind="css: actionCSS" class="icon-3x"></i>
            <label class="count" data-bind="text: $root.stats[name()]"></label>
        </button>
      </div>
    </div>
    <div class="five columns">
      <h4 id="overview"><%= tagline(@film_view.film) %></h4>
      <div class="row">

        <div class="twelve columns">
           <p>
            <% @film_view.film.genres.each do |genre| %>
              <%= link_to films_genre_path(genre['name']) do %>
                <%= content_tag :span, genre['name'], {:class => 'genre link'} %>
              <% end %>
            <% end %>
          </p>
          <p><%= @film_view.film.overview %></p>
        </div>
      </div>
    </div>
    <div class="four columns credits" id="credits">
      <dl class="tabs">
        <dd class="active"><a href="#cast">Cast</a></dd>
        <dd><a href="#crew">Crew</a></dd>
        <dd><a href="#films">Similar Films</a></dd>
      </dl>
      <ul class="tabs-content">
        <li class="active" id="castTab">
          <div class="row">
            <div class="twelve columns crew">
              <ul class="disc credits">
                <% @film_view.film.credits.cast.each do |person| %>
                <li style="border-bottom: dotted 1px lightblue;">
                  <%= link_to person_path(person.id), remote:true do %>
                    <%= content_tag :span, person.name, {:class => 'person link'} %>
                  <% end %>
                  <span class="right"> <%= person.character %> </span>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li id="crewTab">
          <div class="row">
            <div class="twelve columns crew">
              <ul class="disc credits">
              <% @film_view.film.credits.crew.each do |person| %>
                <li style="border-bottom: dotted 1px lightblue;">
                  <%= link_to person_path(person.id), remote:true do %>
                    <%= content_tag :span, person.name, {:class => 'person link'} %>
                  <% end %>
                  <span class="right"> <%= person.job %> </span>
                </li>
                <% end %>
              </ul> 
            </div>
          </div>
        </li>
        <li id="filmsTab">
          <% if @film_view.similar_films? %>
          <div class="row">
            <div class="twelve columns crew">
              <ul class="disc credits">
              <% @film_view.similar_films.each do |film_view| %>
                <div class="film-small">
                <% if film_view.film.id %>
                  <%= link_to film_path(film_view.film.id), remote:true do %>
                    <%= image_tag(film_view.thumbnail('w45'), :title => film_view.title, :class => 'small') %>
                  <%end %>
                   <span class="right"> <%= film_view.title %> </span>
                <% end %>
                </div>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>
<div id="filmTrailersModal" class="reveal-modal xlarge">
  <div class="row" id="trailers">
      <div class="twelve columns">
        <div class="flex-video">
          <iframe  src='<%= @film_view.trailer %>' frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
  <label class="close-reveal-modal">×</label>
</div>


<% end %>