<% film_presenter = present(film) %>
<% present(film.details, film.details_presenter) do |presenter| %>
  <%= render partial: 'film_meta_tags', locals: {presenter: presenter}  %>
  <div class="full-row inner-hero margin-bottom">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="right-fade"></div>
        <div class="left-fade"></div>
        <%= presenter.main_backdrop %>
        <!-- <img src="/assets/content/hero-image-man-of-steel.jpg" width="1280" height="720" alt="Man of Steel" /> -->
      </div>
    </div>
  </div>
  <div class="row margin-bottom"  itemscope itemtype="http://schema.org/Movie">
    <div class="large-8 small-12 columns">
      <div class="pod margin-bottom synopsis">
        <meta >
        <h1 itemprop="name"><%= film.title %></h1>
        <h2 >
          <span itemprop="datePublished" content='<%=presenter.film.release_date%>'><%= presenter.year %></span>
          -
          <span itemprop="director" itemscope itemtype='http://schema.org/Person'>
            <%= link_to(person_path(presenter.director.id), itemprop: 'url') do %>
            <span itemprop='name'><%=presenter.director.name%></span>
            <% end %>
          </span>
          </h2>
        <hr />

        <h3>Synopsis</h3>
        <h4 itemprop="headline"><%= presenter.tagline %></h4>
        <p itemprop="about"><%= presenter.overview %></p>
      </div>
      <div class="margin-bottom">
        <div class="inner-tabs">
          <div class="section-container auto" data-section>
            <%= render partial: 'details', locals: {presenter: presenter, film_presenter: film_presenter} %>
            <%= render partial: 'trailer', locals: {presenter: presenter} if film.trailer? %>
            <%= render partial: 'media', locals: {presenter: presenter} if presenter.backdrops? %>
          </div>
        </div>
        <div class="margin-bottom">
          <div class="inner-tabs">
            <div class="section-container auto" data-section>
              <%= render partial: 'cast', locals: {presenter: presenter} if presenter.cast? %>
              <%= render partial: 'crew', locals: {presenter: presenter} if presenter.crew? %>
              <%= render partial: 'studios', locals: {presenter: presenter} if presenter.studios? %>
              <%= render partial: 'locations', locals: {presenter: presenter} if presenter.locations? %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-4 small-12 columns">
      <%= render partial: 'action_panel', locals: {film_entry: film.entries.for_user(current_user)} %>
      <div class="margin-bottom banner">
        <%= render partial: 'adverts/multiple_300x250', alt: 'lovefilm advert' %>
      </div>
      <div class="margin-bottom">
        <h4>filmlovers who...</h4>
        <ul class="button-list">
          <li class="watched" itemprop="interactionCount" content='<%="UserPlays:#{film_presenter.counts.watched_count}"%>'><%= film_presenter.counts.watched_count %> watched this film</li>
          <li class="loved" itemprop="interactionCount" content='<%="UserLikes:#{film_presenter.counts.loved_count}"%>'><%= film_presenter.counts.loved_count %> loved this film</li>
          <li class="owned"><%= film_presenter.counts.owned_count %> own this film</li>
        </ul>
      </div>
      <%if presenter.genres? %>
        <div class="margin-bottom">
          <h4>Genres</h4>
          <ul class="button-list">
            <% presenter.genres.each do |genre| %>
              <li > <%= link_to genre, category_films_path(action: :popular, genres: genre), alt: "view films in genre category #{genre}", itemprop:"genre"  %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%if presenter.similar? %>
        <div class="margin-bottom">
          <h4>Similar films</h4>
          <ul class="button-list">
            <% presenter.similar.each do |similar_film| %>
              <li><%= link_to similar_film[:title], summary_film_path(similar_film.id), data: {'reveal-id' => 'filminfo', 'reveal-ajax' => true} %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="margin-bottom banner">
        <%= render partial: 'adverts/google_336x280', alt: 'google adverts' %>
      </div>
    </div>
  </div>
<% end %>
<img src="http://www.assoc-amazon.co.uk/e/ir?t=filmlovers-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

        