<%= render partial: 'film_meta_tags', locals: {film: film} %>

<div id="filmsActioned" class="twelve columns">

  <div class="row affiliate collapse">
    <div class="two columns right">
      <%= render partial: 'shared/twitter', locals: {film: film} %>
      <%= render partial: 'shared/facebook_like', locals: {film: film} %>
    </div>
  </div>
  <div class="film-banner twelve columns">
<!--     <div class="one columns film">
      <%#= poster_link film, 'w92' %>
    </div> -->
    <div class="seven columns">  
      <h3 class="film-title">
        <%= link_to film_path(film) do %>
          <%= title_with_year film %>
        <% end %>
      </h3>
      <h6><%= directed_by film %></h6>
      <h6><%#= starring film %></h6>
      <h4 id="overview"><%#= tagline(film) %></h4>
    </div>

    <div class="five columns nav-container">

      <dl class="sub-nav right">
        <% {overview: 'book', images: 'picture', cast: 'group', trailer: 'film'}.each do |view, icon| %>
          <%= render partial: 'film_sub_nav_link', locals: {view: view, icon: icon} %>
        <% end %>
        <% [:watched, :loved, :owned].each do |action| %>
        <dd>
            <%= link_to users_film_path(film, action) do %>
              <%= icon_for action %>
            <% end %>
        </dd>
        <% end %> 
        <%= render partial: 'film_sub_nav_link', locals: {view: 'similar', icon: 'search'} %>
      </dl>
    </div>
  </div>

    <%= render partial: params[:view] || 'overview'%>
</div>

