<% present(film.details, film.details_presenter) do |presenter| %>
    <div class="row">
      <div class="large-4 small-12 columns">
        <div class="poster">
          <%= presenter.poster :large %>
        </div>
        <p class="text-center">
          <%= link_to 'View full film info', film_path(film), class: 'small button' %>
        </p>
      </div>
      <div class="large-8 small-12 columns">
        <h1><%= film.title %></h1>
        <h2><%= presenter.year_and_director %></h2>
         <hr />
        <h3>Synopsis</h3>
        <p><%= presenter.overview %></p>
        <%= show_details 'Starring', presenter.starring %>
        <%= show_details 'Original title', presenter.original_title %>
        <%= show_details 'Runtime', presenter.runtime %>
        <%= show_details 'Status', presenter.status %>
        <%= show_details "#{film.release_date_country} Release Date", presenter.release_date %>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
<% end %>