<div id="filmsActioned" class="twelve columns">

  <div class="row film-banner">
    <div class="one columns film">
      <%= poster_link film, 'w92' %>
    </div>
    <div class="five columns">  
      <h3 class="film-title">
        <%= link_to film_path(film) do %>
          <%= title_with_year film %>
        <% end %>
      </h3>
      <h6><%= directed_by film %></h6>
      <h6><%= starring film %></h6>
    </div>

    <div class="five columns nav-container">
      <dl class="sub-nav right">
        <dd><a href="#overview"><%= awesome 'book' %></a></d>
        <dd><a href="#credits"><%= awesome 'picture' %></a></dd>
        <dd><a href="#credits"><%= awesome 'group' %></a></dd>
        <dd><a href="#credits"><%= awesome 'film' %></a></dd>
        <% [:watched, :loved, :owned].each do |action| %>
        <dd>
            <%= link_to users_film_path(film, action) do %>
              <%= icon_for action, user_action==action %>
            <% end %>
        </dd>
        <% end %> 
        <dd><a href="#credits"><%= awesome 'shopping-cart' %></a></dd>
        <dd><a href="#credits"><%= awesome 'user' %></a></dd>
        <dd><a href="#credits"><%= awesome 'cloud' %></a></dd>
        <dd><a href="#credits"><%= awesome 'signal' %></a></dd>
      </dl>
    </div>
  </div>

  <div id="contentHolder">
    <div class="row user-list">
      <div class="twelve columns">
          <%= render partial: 'backdrop', locals: {film: film} %>
      </div>
    </div>
  </div>
</div>

