<div id="filmsActioned" class="twelve columns">
  <% @users.each do |user| %>
    <div class="user-avatar left">
      <%= link_to user_lists_path(user) do %>
        <%= image_tag user.gravatar_url %>
        <label><%= user.name %></label>
       <% end %>
      <% [:watched, :loved, :owned].each do |action| %>
        <%= icon_for action %>
        <label style="display:inline"><%= user.films[action].count %> </label>
      <% end %>
     
    </div>
  <% end %>
</div>

