<div class="full-row green-row panels" id="panelssignin">
  <div class="row">
    <div class="large-4 large-offset-2 small-12 columns">
      <h2>Sign in with your passport...</h2>
      <ul class="signup-options">
        <%= passport_link :facebook, "Facebook" %>
        <%= passport_link :twitter, "Twitter" %>
        <%= passport_link :netflix, "Netflix" %>      
        <%= passport_link :google_oauth2, "Google" %>
      </ul>
    </div>
    <div class="large-4 small-12 columns end">
      <h2>Sign in normally...</h2>
      <%= simple_form_for(User.new, url:  session_path(:user), html:{id: 'signinform'}, remote: true) do |f| %>
        <label for="username"></label>
        <%= f.input :username, tabindex: 5, placeholder: 'Your username', hint: false, label: false%>
        <label for="password"></label>
        <%= f.input :password, tabindex: 6, placeholder: 'Your password', hint: false, label: false %>
        <div class="row">
          <div class="large-6 small-6 columns">
            <input type="submit" name="loginbutton" id="loginbutton" value="Log in" tabindex="8">
          </div>
          <div class="large-6 small-6 columns text-right">
            <p class="forgotten">
              <small><%= link_to 'Forgotten your password?', new_user_password_path %> </small>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>\
</div>