<div id="queueListModal" class="reveal-modal twelve columns">
  <div id="modal-alerts">
  </div>
  <span class="close-reveal-modal">×</span>
   <div class="row" >
     <div class="twelve columns">
        <h5 class="film-title pull-left"><%= title_with_year film %></h5>
        <h6 class="film-director pull-right"><%= film.director %></h6>
      <div>
   </div>
   <div class="row" style="clear:both">
    <div class="five columns">
       <%= poster_link(film) %>
    </div>
    <div class="seven columns">     
      <p class="film-summary"><%= overview film %></p>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div>
        <label>
          add to list
        </label>
        <%= select_tag :userListsOptions, options_for_select(@lists)%>
      </div>      
    </div>
    <div class="six columns">
      <label> <%= link_to 'start a new list', new_list_path(film_ids:[film.id]), :class=>'close-reveal-modal' %></label>
    </div>
  </div>

</div>
