<div class="full-row green-row panels" id="panelsprofile">
  <div class="row">
    <div class="large-4 large-offset-2 small-12 columns">
        <h2>Your Films...</h2>
        <ul class="signup-options">
          <li> <%= link_to 'Recommendations', user_recommendations_path(current_user) %> </li>
          <li> <%= link_to 'Lists',  user_lists_path(current_user) %> </li>
          <li> <%= link_to 'Library', user_film_entries_path(current_user)%> </li>
        </ul>
      </div>
      <div class="large-4 small-12 columns end">
        <h2>Your Profile...</h2>
        <ul class="signup-options">
          <li><%= link_to 'Details', user_details_path(current_user) %> </li>
          <li><%= link_to 'Friendships', user_friendships_path(current_user)%> </li>
          <li><%= link_to 'Settings', user_settings_path(current_user)%> </li>
        </ul>
      </div>
    </div>
</div>