<section >
  <p class="title" data-section-title>
    <a href="#panel1"><%= "Most #{action.capitalize}" %></a>
  </p>
  <div class="content" data-section-content>
      <ul class="large-block-grid-5 small-block-grid-2 film-tabs text-center">
        <% Film.by_counter(action).limit(5).each_with_index do |film, index| %>
          <% present(film, FilmPresenter) do |presenter| %>
            <li itemscope itemtype="http://schema.org/Movie">
               <%= presenter.poster_link %>
               <span><%= index+1 %></span>
               <%= film.title %>
               <meta itemprop="name" content="<%= film.title %>"/>
               <meta itemprop="director" content='<%=presenter.film.director%>' />
               <meta itemprop="datePublished" content='<%=presenter.film.release_date%>' />
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>
</section>