<div class="row">
  <div class="twelve columns">
    <!-- Navigation -->
    <!-- Header Content -->
    <div class="row">
      <div class="six columns">
        <img src="http://placehold.it/500x500&amp;text=Image" />
        <br />
      </div>
      <div class="six columns">
        <h3 class="show-for-small">
          filmlovers
        </h3>
        <hr />
        <h3 class="show-for-small"></h3>
        <div class="panel">
          <h4 class="hide-for-small">
            filmlovers
          </h4>
          <hr />
          <h4 class="hide-for-small"></h4>
          <h5 class="subheader"></h5>
          <blockquote>
            <p>
              Natalie: Do you believe in love at first sight? John: Yes I do. Saves a lot of time. <cite>The Stickup</cite>
            </p>
          </blockquote>
        </div>
        <div class="row">
          <div class="six mobile-two columns">
            <%= link_to films_trend_path(:now_playing) do %>
              <img src="http://placehold.it/500x500&amp;text=Now Playing" /> 
            <% end %>
          </div>
          <div class="six mobile-two columns">
            <%= link_to films_trend_path(:upcoming) do %>
              <img src="http://placehold.it/500x500&amp;text=Upcoming" /> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Header Content -->
  <!-- Search Bar -->
  <div class="row">
    <div class="twelve columns">
      <div class="radius panel">
          <%= form_tag(films_search_path, method: :get) do%>
          <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text" name="query" />
            </div>
            <div class="two mobile-one columns">
              <a href="#" class="postfix button expand film-search">Search</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- End Search Bar -->
  <!-- Thumbnails -->
  <div class="row">
    <div class="twelve show-for-small columns">
      <hr />
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:action) do %><img src="http://placehold.it/500x500&amp;text=Action" /> <% end %>
      <div class="panel">
        <p>
          Hot-paced action films!
        </p>
      </div>
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:comedy) do %><img src="http://placehold.it/500x500&amp;text=Comedy" /> <% end %>
      <div class="panel">
        <p>
          Split your sides
        </p>
      </div>
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:science_fiction) do %><img src="http://placehold.it/500x500&amp;text=Science Fiction" /> <% end %>
      <div class="panel">
        <p>
          Films that beep
        </p>
      </div>
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:drama) do %><img src="http://placehold.it/500x500&amp;text=Drama" /> <% end %>
      <div class="panel">
        <p>
          For every moment
        </p>
      </div>
    </div>
  </div><!-- End Thumbnails -->
    <div class="row">
    <div class="twelve show-for-small columns">
      <hr />
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:animation) do %><img src="http://placehold.it/500x500&amp;text=Animation" /> <% end %>
      <div class="panel">
        <p>
          Keep the imagination going
        </p>
      </div>
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:eastern) do %><img src="http://placehold.it/500x500&amp;text=Eastern" /> <% end %>
      <div class="panel">
        <p>
          Something a little exotic
        </p>
      </div>
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:horror) do %><img src="http://placehold.it/500x500&amp;text=Horror" /> <% end %>
      <div class="panel">
        <p>
          Dare you keep the lights off?
        </p>
      </div>
    </div>
    <div class="three mobile-two columns">
      <%= link_to films_genre_path(:foreign) do %><img src="http://placehold.it/500x500&amp;text=Foreign" /> <% end %>
      <div class="panel">
        <p>
          It's all a little foreign
        </p>
      </div>
    </div>
  </div><!-- End Thumbnails -->
  <%= render partial: 'layouts/footer' %>
</div>