<% description "Discover films your friends love, share films lists, and keep track of films you own. Create custom film lists and discover the latest upcoming films at cinemas" %>
<% set_meta_tags keywords: "films, lists, popular films, movies, latest releases, new films, upcoming films, share films, films loved, film owned, films watched, film lists" %>
<% title "watch, share, discover films with friends" %>

<% set_meta_tags :og => {
  :title    => "filmlovers - watch, share, discover films with friends",
  :type     => "website",
  :url      => 'http://www.filmlovers.co.uk', 
  :image    => 'http://www.filmlovers.co.uk' + asset_path('filmlovers-200x200.jpg'),
  :description => "Discover films your friends love, share films lists, and keep track of films you own. Create custom film lists and discover the latest upcoming films at cinemas",
  :site_name   =>'filmlovers - watch, share, discover'
} %>


<% set_meta_tags :fb => {
  :admins => '537020179',
  :app_id => Facebook::app_id 
} %>


<div class="twelve columns">

  <%if !logged_in? %>
  <div class="row banner collapse sign-in-backdrop" id="banner-sign-in">
    <div class="eight columns"  id="greeting-text">
      <h1>Welcome to filmlovers</h1>
      <h2>Watch, share and discover films </h2>
      <h3> Sign up for <strong>free</strong> to create film lists and record your love of film</h3>
      <%= link_to login_path, data: {modal: 'signup'}, alt: 'sign up to filmlovers for free' do %>
        <%= image_tag 'sign-up.png', :class => 'sign-up-button', alt: 'sign up to filmlovers'  %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row banner  welcome-backdrop" id="banner-sign-in">
    <div class="six columns centered" id="greeting-text">
        <h1>filmlovers</h1>
        <h2>Watch, share, discover </h2>
    </div>
  </div>

  <%= render partial:'recommendations' %>

<% end %>




  <div class="row" id="icon-descriptions">
    <div class="four columns">
      <div class="radius panel pagination-centered">
        <h4><%= Films.count_for(:watched) %> films watched</h4>
          <%= link_to actioned_films_path(:watched), alt: 'view films that have been watched' do %>
            <%= awesome 'eye-open', 'icon-3x actioned' %>
          <% end %>
         <p>keep track of all the films you have seen</p>
        <%= render partial: 'films_recently_actioned', locals:{action: :watched} %>
      </div>
    </div>
    <div class="four columns">
      <div class="radius panel pagination-centered">
        <h4><%= Films.count_for(:loved) %> films loved</h4>
         <%= link_to actioned_films_path(:loved), alt: 'view films that are loved' do %>
          <%= awesome 'heart', 'icon-3x actioned' %>
         <% end %>
         <p>let your friends know the films you loved!</p>
         <%= render partial: 'films_recently_actioned', locals:{action: :loved} %>
      </div>
    </div>
    <div class="four columns">
      <div class="radius panel pagination-centered">
        <h4><%= Films.count_for(:owned) %> films owned</h4>
        <%= link_to actioned_films_path(:loved), alt: 'view films that people own' do %>
         <%= awesome 'home', 'icon-3x actioned' %>
        <% end %>
        <p>what films do you have at home?</p>
        <%= render partial: 'films_recently_actioned', locals:{action: :owned} %>
      </div>
    </div>
  </div>
  

  <div class="row padded-films">
    <div class="twelve columns">
      <h6 class="heading_divider">Recent Activity</h6>
    </div>    
    <div class="twelve columns centered">
      <div class=" films">
        <% Films.recent(5).each do |film| %>
          <%= render partial: 'films/film', object: film %>
        <% end %>
      </div>      
    </div>
  </div>

  <div class="row">
    <div class="twelve columns pagination-centered">
      <a href="http://www.awin1.com/cread.php?s=246533&v=2481&q=118947&r=171645" target="_blank" alt="blinkbox advert">
        <img src="http://www.awin1.com/cshow.php?s=246533&v=2481&q=118947&r=171645" border="0" alt="blinkbox promotion"></a>        
    </div>
  </div>

  <div class="row ">
    <div class="twelve columns">
      <h6 class="heading_divider">Current Films</h6>
    </div>
    <div class="four mobile-two columns trend">
      <%= link_to trend_path(:now_playing), alt: 'view films that are currently in cinemas, now playing' do %>
        <%= image_tag 'now_playing.jpg', width:'100%', alt: 'films now playing', title: 'films now playing' %>
        <label>Now Playing</label>
      <% end %>
    </div>
    <div class="four mobile-two columns trend">
      <%= link_to trend_path(:popular), alt: 'view films that are popular' do %>
        <%= image_tag 'popular.jpg', width:'100%', alt: 'popular films', title: 'films that are popular' %>
        <label>Popular</label>
      <% end %>
    </div>
    <div class="four mobile-two columns trend">
      <%= link_to trend_path(:upcoming) do %>
        <%= image_tag 'coming_soon.jpg', width:'100%', alt: 'films coming soon', title: 'films coming soon' %>
        <label>Upcoming</label>
      <% end %>
    </div>
  </div>




 <div class="row">
    <div class="twelve columns">
      <h6 class="heading_divider">Discover by Genre</h6>
      <%= render partial:'genre_tile', locals:{genre: :action, description: 'Action'} %>
      <%= render partial:'genre_tile', locals:{genre: :comedy, description: 'Comedy'} %>
      <%= render partial:'genre_tile', locals:{genre: :science_fiction, description: 'Sci-Fi'} %>
      <%= render partial:'genre_tile', locals:{genre: :drama, description: 'Drama'} %>  
      <%= render partial:'genre_tile', locals:{genre: :animation, description: 'Animation'} %>
      <%= render partial:'genre_tile', locals:{genre: :eastern, description: 'Eastern'} %> 
      <%= render partial:'genre_tile', locals:{genre: :horror, description: 'Horror'} %>
      <%= render partial:'genre_tile', locals:{genre: :foreign, description: 'Foreign'} %>
      <%= render partial:'genre_tile', locals:{genre: :adventure, description: 'Adventure'} %>
      <%= render partial:'genre_tile', locals:{genre: :indie, description: 'Indie'} %>
      <%= render partial:'genre_tile', locals:{genre: :suspense, description: 'Suspense'} %>
      <%= render partial:'genre_tile', locals:{genre: :romance, description: 'Romance'} %>
    </div>
    
  </div>
 <div class="row">
    <div class="twelve columns pagination-centered">
      <fb:like href="http://www.filmlovers.co.uk/" send="true" width="450" show_faces="true" ></fb:like>
    </div>
  </div>

  <!-- <a onmouseover="UE.Popin.preload();" href="#" onclick="UE.Popin.show(); return false;">feedback</a> -->
</div>
