<div class="row">
  <div class="twelve columns">
    <!-- Navigation -->
    <!-- Header Content -->
    <div class="row" id="routes">
      <div class="six columns">
        <img src="http://placehold.it/500x500&amp;text=Image" />
        <br />
      </div>
      <div class="six columns">
        <h3 class="show-for-small">
          filmlovers
        </h3>
        <hr />
        <h3 class="show-for-small"></h3>
        <div class="panel">
          <h4 class="hide-for-small">
            filmlovers
          </h4>
          <hr />
          <h4 class="hide-for-small"></h4>
          <h5 class="subheader"></h5>
          <blockquote>
            <p>
              Natalie: Do you believe in love at first sight? John: Yes I do. Saves a lot of time. <cite>The Stickup</cite>
            </p>
          </blockquote>
        </div>
        <div class="row">
          <div class="six mobile-two columns">
            <%= link_to films_trend_path(:now_playing), data:{remote: true, viewmodel:true} do %>
              <img src="http://placehold.it/500x500&amp;text=Now Playing" /> 
            <% end %>
          </div>
          <div class="six mobile-two columns">
            <%= link_to films_trend_path(:upcoming),  data:{  remote:true, viewmodel:true} do %>
              <img src="http://placehold.it/500x500&amp;text=Upcoming" /> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Header Content -->
  <!-- Search Bar -->
  <div class="row">
    <div class="twelve columns">
      <div class="radius panel">
          <%= form_tag(films_search_path, method: :get,  data:{  remote:true, viewmodel:true}) do%>
          <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text" name="query" />
            </div>
            <div class="two mobile-one columns">
              <%= submit_tag 'Search', :class=>"postfix button expand", data:{view: films_path}, :disable_with => "Searching..." %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- End Search Bar -->
  <!-- Thumbnails -->
  <div class="row">
    <%= render partial:'genre_tile', locals:{genre: :action, description: 'Hot-paced action films!'} %>
    <%= render partial:'genre_tile', locals:{genre: :comedy, description: 'Split your sides'} %>
    <%= render partial:'genre_tile', locals:{genre: :science_fiction, description: ' Films that beep'} %>
    <%= render partial:'genre_tile', locals:{genre: :drama, description: ' For every moment'} %>
  </div><!-- End Thumbnails -->
  <div class="row">
    <%= render partial:'genre_tile', locals:{genre: :animation, description: 'Keep the imagination going'} %>
    <%= render partial:'genre_tile', locals:{genre: :eastern, description: 'Something a little exotic'} %>
    <%= render partial:'genre_tile', locals:{genre: :Horror, description: 'Dare you keep the lights off?'} %>
    <%= render partial:'genre_tile', locals:{genre: :Foreign, description: 'It\'s all a little foreign'} %>
  </div>
</div>