<% description "Welcome to filmlovers. Discover the films your friends love, and share the films you have watched, and keep track of films you own. Create your own film lists and discover the latest films at cinemas or upcoming." %>
<% set_meta_tags keywords: "films, lists, popular films, movies, latest releases, new films, upcoming films, share films, films loved, film owned, films watched, film lists" %>

<div class="twelve columns">

  <%if !logged_in? %>
  <div class="row banner collapse sign-in-backdrop" id="banner-sign-in">
    <div class="six columns centered">
      <p id="greeting-text">
        <h1>Welcome to filmlovers</h1>
        <h2>Watch, share and discover films </h2>
        <h3> Sign up for <strong>free</strong> to create film lists and record your love of film</h3>
      </p>
    </div>
  </div>
<% else %>


  <div class="row banner  welcome-backdrop" id="banner-sign-in">
    <div class="six columns centered">
      <p id="greeting-text">
        <h1>filmlovers</h1>
        <h2>Watch, share and discover films </h2>
      </p>
    </div>
  </div>
<% end %>

  <div class="row" id="icon-descriptions">
    <div class="four columns">
      <div class="radius panel pagination-centered">
        <h4><%= Films.count_for(:watched) %> films watched</h4>
          <%= link_to actioned_films_path(:watched) do %>
            <%= awesome 'eye-open', 'icon-3x actioned' %>
          <% end %>
         <p>keep track of all the films you have seen</p>
        <%= render partial: 'films_recently_actioned', locals:{action: :watched} %>
      </div>
    </div>
    <div class="four columns">
      <div class="radius panel pagination-centered">
        <h4><%= Films.count_for(:loved) %> films loved</h4>
         <%= link_to actioned_films_path(:loved) do %>
          <%= awesome 'heart', 'icon-3x actioned' %>
         <% end %>
         <p>let your friends know the films you loved!</p>
         <%= render partial: 'films_recently_actioned', locals:{action: :loved} %>
      </div>
    </div>
    <div class="four columns">
      <div class="radius panel pagination-centered">
        <h4><%= Films.count_for(:owned) %> films owned</h4>
        <%= link_to actioned_films_path(:loved) do %>
         <%= awesome 'home', 'icon-3x actioned' %>
        <% end %>
        <p>what films do you have at home?</p>
        <%= render partial: 'films_recently_actioned', locals:{action: :owned} %>
      </div>
    </div>
<!--     <div class="three columns">
      <div class="radius panel pagination-centered">
        <h4>Queued</h4>
        <i class="icon-pushpin icon-3x actioned"></i>
        <p>save for later, or to add to your lists</P>
      </div>
    </div> -->
  </div>
  
  <div class="row ">
    <div class="twelve columns">
      <h6 class="heading_divider">Current Films</h6>
    </div>
    <div class="four mobile-two columns trend">
      <%= link_to trend_path(:now_playing) do %>
        <%=image_tag 'cinema.png', width:'100%' %>
        <label>In Cinemas</label>
      <% end %>
    </div>
    <div class="four mobile-two columns trend">
      <%= link_to trend_path(:popular) do %>
        <%=image_tag 'cinema.png', width:'100%' %>
        <label>Popular</label>
      <% end %>
    </div>
    <div class="four mobile-two columns trend">
      <%= link_to trend_path(:upcoming) do %>
        <%=image_tag 'cinema.png', width:'100%' %>
        <label>Upcoming</label>
      <% end %>
    </div>
  </div>

  <div class="row" id="search_row">
    <div class="twelve columns">
      <div class="radius panel">
          <%= form_tag(search_films_path, method: :get) do%>
          <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text" name="query" />
            </div>
            <div class="two mobile-one columns">
              <%= submit_tag 'Search', :class=>"postfix button expand", :disable_with => "Searching..." %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns pagination-centered">
      <a href="http://www.awin1.com/cread.php?s=246533&v=2481&q=118947&r=171645" target="_blank">
        <img src="http://www.awin1.com/cshow.php?s=246533&v=2481&q=118947&r=171645" border="0"></a>        
    </div>
  </div>

 <div class="row">
    
    <div class="twelve columns">
      <h6 class="heading_divider">Discover by Genre</h6>
      <%= render partial:'genre_tile', locals:{genre: :action, description: 'Action'} %>
      <%= render partial:'genre_tile', locals:{genre: :comedy, description: 'Comedy'} %>
      <%= render partial:'genre_tile', locals:{genre: :science_fiction, description: 'Sci-Fi'} %>
      <%= render partial:'genre_tile', locals:{genre: :drama, description: 'Drama'} %>  
      <%= render partial:'genre_tile', locals:{genre: :animation, description: 'Animation'} %>
      <%= render partial:'genre_tile', locals:{genre: :eastern, description: 'Eastern'} %> 
      <%= render partial:'genre_tile', locals:{genre: :horror, description: 'Horror'} %>
      <%= render partial:'genre_tile', locals:{genre: :foreign, description: 'Foreign'} %>
      <%= render partial:'genre_tile', locals:{genre: :adventure, description: 'Adventure'} %>
      <%= render partial:'genre_tile', locals:{genre: :indie, description: 'Indie'} %>
      <%= render partial:'genre_tile', locals:{genre: :suspense, description: 'Suspense'} %>
      <%= render partial:'genre_tile', locals:{genre: :romance, description: 'Romance'} %>
    </div>
  </div>

  <!-- <a onmouseover="UE.Popin.preload();" href="#" onclick="UE.Popin.show(); return false;">feedback</a> -->
</div>
