
<div class="full-row hero margin-bottom">
 
  <div class="row">
    <div class="large-6 large-offset-3 small-10 small-offset-1 columns">
      <div class="pod">
        <h1 class="text-center">Discover films with friends</h1>
        <p class="text-center">filmlovr.com is a social network that allows you to recommend films to friends and record your love of film.</p>
        <hr />
         <% if !logged_in? %>
        <div class="row">
          <div class="large-5 small-12 columns">
            <p class="text-right"><a href="#" class="showPanel primary button" data-rel="signup">Join</a></p>
          </div>
          <div class="large-7 small-12 columns">
            <p class="text-left create">Create a <strong>FREE</strong> account or <a href="#features">take a look at what it offers</a>!</p>
          </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>

</div>

<div class="row margin-bottom">
  <div class="large-3 small-6 columns text-center">
      <p class="lovers">
          <span><%= User.count %></span> filmlovers
        </p>
    </div>
    <div class="large-3 small-6 columns text-center">
      <p class="watched">
          <span><%= FilmEntry.counts.watched_count %></span> films watched
        </p>
    </div>
    <div class="large-3 small-6 columns text-center">
      <p class="loved">
          <span><%= FilmEntry.counts.loved_count %></span> films loved
      </p>
    </div>
    <div class="large-3 small-6 columns text-center">
      <p class="owned">
          <span><%= FilmEntry.counts.owned_count %></span> films owned
      </p>
    </div>
</div>
<div class="full-row tabs margin-bottom">
  <div class="row">
    <div class="large-12 small-12 columns">
        <div class="section-container auto" data-section>

          <%= render partial: 'top_actioned_films', locals: {films: Film.recently_actioned(5), title: 'Recently Actioned'} %>

          <% [:watched, :loved, :owned].each do |action| %>
            <%= render partial: 'top_actioned_films', locals: {films: Film.by_counter(action).limit(5), title: "Most #{action.capitalize}" } %>
          <% end %>
        </div>
      </div>
  </div>
</div>
<div class="row margin-bottom">
  <div class="large-12 small-12 columns text-center">
    <%= render partial: 'adverts/multiple_728x90' %>
  </div>
</div>
<a id="features"></a>
<div class="full-row green-row margin-bottom">
  <div class="row">
    <div class="large-8 small-12 large-offset-2 text-center columns">
      <h2>What is filmlovr.com?</h2>
    <hr />
      <p>In short...a social record of your favourite films...a place to list, rate and share your love of film with your friends, colleagues and family...</p>
    </div>
  </div>
  <div class="row">
    <div class="large-8 small-12 large-offset-2 text center columns">
      <ul data-orbit data-options="timer_speed:7000; bullets:false;">
        <li data-orbit-slide="organise">
          <%= image_tag "content/list-slide.gif", width: 474, height: 249, alt: 'Organise' %>
          <div class="orbit-caption">Keep a record of all the films you have seen, loved and owned.</div>
        </li>
        <li data-orbit-slide="lists">
           <%= image_tag "content/share-slide.gif", width: 474, height: 249, alt: 'Share your lists' %>
          <div class="orbit-caption">Create your own films list, and share it with friends, and help them discover new films.</div>
        </li>
        <li data-orbit-slide="recommend">
          <%= image_tag "content/recommend-slide.gif", width: 474, height: 249, alt: 'Recommend films to friends' %>
          <div class="orbit-caption">Recommend films to friends, or let us help recommend you one based on you and your friends film history.</div>
        </li>
        <li data-orbit-slide="filmchannels">
          <%= image_tag "content/channels-slide.gif", width: 474, height: 249, alt: 'Film Channels' %>
          <div class="orbit-caption">Add additional accounts such as Netflix and Vimeo, and get all your film related accounts in one place.</div>
        </li>
      </ul>
      <ul class="slider-nav">
        <li>
          <a href="#" data-orbit-link="organise">
            <%= image_tag "site-basics/list-icon-white.svg", width: 90, height: 90, alt: 'Organise' %>
            Organise
          </a>
        </li>
        <li>
          <a href="#" data-orbit-link="lists">
            <%= image_tag "site-basics/share-icon-white.svg", width: 90, height: 90, alt: 'Lists' %>
            Share
          </a>
        </li>
        <li>
          <a href="#" data-orbit-link="recommend">
            <%= image_tag "site-basics/recommend-icon-white.svg", width: 90, height: 90, alt: 'Recommend' %>
            Recommend
          </a>
        </li>
        <li>
          <a href="#" data-orbit-link="filmchannels">
            <%= image_tag "site-basics/netflix-icon-white.svg", width: 90, height: 90, alt: 'Film Channels' %>
            Film Channels
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
