<%= render partial: 'film_meta_tags', locals: {film: film} %>


<div id="filmsActioned" class="twelve columns">

  <div class="film-banner">
    <div class="six columns">  
      <h3 class="film-title">
        <%= link_to film_path(film) do %>
          <%= title_with_year film %>
        <% end %>
      </h3>
      <h6><%= directed_by film %></h6>
      <div class="external-links">
        <%= render partial: 'shared/amazon_search', locals: {title: "#{film.title} #{film.year}"} %>
        <%= render partial: 'shared/itunes', locals: {title: "#{film.title}"} %>
        <%= render partial: 'shared/twitter', locals: {film: film} %>
        <%= render partial: 'shared/facebook_like', locals: {film: film} %>
      </div>
    </div>

    <div class="six columns nav-container">

      <dl class="sub-nav right">
        <%= render partial: 'film_sub_nav_link', locals: {view: :overview, icon: :book}   %>
        <%= render partial: 'film_sub_nav_link', locals: {view: :images, icon: :picture}  if film.has_backdrop? %>
        <%= render partial: 'film_sub_nav_link', locals: {view: :trailer, icon: :film}  if film.has_trailer? %>
        <%= render partial: 'film_sub_nav_link', locals: {view: :cast, icon: :group}  %>
        <%= render partial: 'film_sub_nav_link', locals: {view: 'similar', icon: 'search'} %>
        <% [:watched, :loved, :owned].each do |action| %>
        <dd>
            <%= link_to users_film_path(film, action), alt: "people who #{action} the film" do %>
              <%= icon_for action, (user_action||'')==action %> <label><%= film.actions_for(action).count %>
            <% end %>
        </dd>
        <% end %> 
       
      </dl>
    </div>
  </div>



    <%= render partial: params[:view] || 'overview'%>
</div>

