
<div id="footer" class="row pagination-centered">
  <div class="five columns centered">
    <nav>
      <ul>
        <li>
          <%= link_to 'about', site_path('about') %>
        </li>
        <li>
           <%= link_to 'help', site_path('help') %>
        </li>
        <li>
           <%= link_to 'feedback', site_path('feedback') %>
        </li>
        <li>
          <%= link_to 'terms', site_path('terms') %>
        </li>        
        <li>
           <%= link_to 'contact', site_path('contact') %>
        </li>
      </ul>
    </nav>

  </div>
  <div class="twelve columns">
    <div class="copyright">
      <span>© filmlovers ltd 2013.</span>
      <span>film data supplied by <a href="http://themoviedb.org" target="_blank">TMDb</a></span>
    </div>
  </div>
    <div class="social-links">
      <a href="https://plus.google.com/u/0/b/102126390982504640495/communities/115013069818203491300" rel="publisher" target="_blank">
        <%= awesome 'google-plus-sign' %>
      </a>
      <a href="https://www.facebook.com/FilmLoversUK?ref=hl" rel="publisher" target="_blank">
        <%= awesome 'facebook-sign' %>
      </a>
      <a href="http://twitter.com/heyfilmlovers" rel="publisher" target="_blank">
        <%= awesome 'twitter-sign' %>
      </a>
    </div>
</div>