
<div id="footer" class="row pagination-centered">
  <div class="four columns centered">
    <nav>
      <ul>
        <li>
          <%= link_to 'about', site_path('about') %>
        </li>
        <li>
          <!-- A link to launch the Classic Widget -->
          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="feedback" data-uv-forum-id="200001">feedback</a>
        </li>      
        <li>
          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="200001">contact</a>
        </li>
        <li>
          <%= link_to 'terms', site_path('terms') %>
        </li>  
      </ul>
    </nav>

  </div>
  <div class="twelve columns">
    <div class="copyright">
      <span>© filmlovers ltd 2013, all rights reserved.</span>
      <span>film data supplied by <a href="http://themoviedb.org" target="_blank">TMDb</a></span>
    </div>
  </div>
    <div class="social-links">
      <a href="https://plus.google.com/u/0/b/102126390982504640495/communities/115013069818203491300" rel="publisher" target="_blank">
        <%= awesome 'google-plus-sign' %>
      </a>
      <a href="https://www.facebook.com/heyfilmlovers?ref=hl" rel="publisher" target="_blank">
        <%= awesome 'facebook-sign' %>
      </a>
      <a href="http://twitter.com/heyfilmlovers" rel="publisher" target="_blank">
        <%= awesome 'twitter-sign' %>
      </a>
    </div>
</div>


