<div class="row" data-bind="with: user">
  <div class="twelve columns">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="/">filmlovers</a>
          </h1>
        </li>
        <li class="toggle-topbar">
          <a href="#"></a>
        </li>
      </ul>
      <section>
        <!-- Left Nav Section -->
        <% if logged_in? %>
        <ul class="left">
          <li class="has-dropdown">
            <%= link_to "Films", user_film_index_path(user_id:current_user), remote:true, data: {template: :films} %>
            <ul class="dropdown">
              <li>
               <%= link_to "Watched", user_film_path(current_user, :watched), remote:true, data: {template: :films} %>
                <label  data-bind="text: filmStats.watched"/>
              </li>
              <li>
                <%= link_to "Loved", user_film_path(current_user, :loved), remote:true, data: {template: :films} %>
                <label  data-bind="text: filmStats.loved"/>
              </li>
              <li>
                <%= link_to "Owned", user_film_path(current_user, :owned), remote:true, data: {template: :films} %>
                <label  data-bind="text: filmStats.owned"/>
              </li>
              <li>
                <%= link_to "Queued", user_film_path(current_user, :queued), remote:true, data: {template: :films} %>
                <label  data-bind="text: filmStats.queued"/>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to "Lists", user_lists_path(current_user) %>
          </li>
          <% if current_user.passport_provider? :netflix %>
            <li>
              <a class="active" href="/lists/watched">Netflix</a>
            </li>
          <% end %>
        </ul><!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#" data-bind="text:name"></a>
            <ul class="dropdown">
              <li>
                <label>Options</label>
              </li>
              <li>
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              </li>
            </ul>
          </li>
        <% else %>
        <ul class="right">
          <li>
            <%= link_to "Sign in", login_path, remote: true,:html => {:id => "signin-link"} %>
          </li>
        </ul>
        <% end %>
      </section>
    </nav>
  </div>
</div>