<div class="full-row masthead">
  <div id="alerts" class="row"></div>
  <div class="row">
  <% if logged_in? %>
    <div class="large-4 small-12 columns">
      <ul class="top-nav">
        <li class="sign-in">  <%= link_to 'Sign Out', destroy_user_session_path, id: "sign_out", method: :delete  %></li>
        <!-- <li class="film_lists">  <%#= link_to 'Film lists', user_lists_path(current_user), id: "film_lists_link"  %></li>   -->
        <!-- <li class="recommendations">  <%= link_to 'Recommendations', recommendations_path, id: "recommendations_link"  %></li>  -->
        <!-- <li class="friends">  <%#= link_to 'Friends', friendships_path, id: "friends_link"  %></li> -->
      </ul>
    </div>
  <% else %>
    <div class="large-4 small-12 columns">
      <ul class="top-nav">
        <li class="sign-up"><a href="#" class="showPanel" data-rel="signup">Join</a></li>
        <li class="sign-in"><a href="#" class="showPanel" data-rel="signin">Sign in</a></li>
      </ul> 
    </div>
  <% end %>
    <div class="large-4 small-12 columns text-center logo">
      <a href="/"><img src="/assets/site-basics/filmlovers-logo.svg" width="138" height="166" alt="filmlovers" /></a>
    </div>
    <div class="large-4 small-12 columns">
     <ul class="top-nav">
        <li class="films"><a href="#" class="showPanel" data-rel="films">Films</a></li>
        <li class="search"><a href="#" class="showPanel" data-rel="search">Search</a></li>
      </ul>
    </div>    
  </div>
</div>

<% if !logged_in? %>
  <div class="full-row green-row panels" id="panelssignup">
    <%= render template: 'devise/registrations/new' %>
  </div>
  <%= render template: 'devise/sessions/new' %>
<% end %>
<%= render partial: 'app/search_panel' %>
<%= render partial: 'app/films_nav' %>