
<div class="twelve columns">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h3>
          <%= link_to 'filmlovers', root_path  %>
        </h3>
      </li>
      <li class="toggle-topbar">
        <a href="#"></a>
      </li>
    </ul>
    <section>
      <!-- Left Nav Section -->
      <% if logged_in? %>
      <ul class="left">
        <li class="has-dropdown">
         <a>  <%= awesome "film" %> films</a>
          <ul class="dropdown">
            <li><label>Current</label></li>
            <li><%= link_to 'Upcoming', trend_path(:upcoming) %></li>
            <li><%= link_to 'In Cinemas', trend_path(:now_playing) %></li>           
            <li><%= link_to 'Popular', trend_path(:popular) %></li>
            <li><label>Top Genres</label></li>
            <li><%= link_to 'Action', genre_path(:action) %></li>
            <li><%= link_to 'Adventure', genre_path(:adventure) %></li>
            <li><%= link_to 'Comedy', genre_path(:comedy) %></li>
            <li><%= link_to 'Sci-Fi', genre_path(:science_fiction) %></li>
            <li><%= link_to 'Drama', genre_path(:drama) %></li>
          </uL>
        </li>
        <li>
          <%= link_to user_lists_path(current_user) do %>
            <%= awesome 'list' %> lists
          <% end %>
        </li>
        <% if current_user.passport_provider? :facebook %>
          <li><a href="/channels/facebook"><%= awesome 'facebook'%> facebook</a></li>
        <% end %>
        <% if current_user.passport_provider? :twitter_ %>
          <li><a href="/">twitter</a></li>
        <% end %>
        <% if current_user.passport_provider? :netflix_ %>
          <li><a href="/">Netflix</a></li>
        <% end %>
        <% if current_user.passport_provider? :vimeo_ %>
          <li><a href="/">Vimeo</a></li>
        <% end %>
        <% if current_user.passport_provider? :google_oauth2_ %>
          <li><a href="/">Google</a></li>
        <% end %>
      </ul><!-- Right Nav Section -->
      <ul class="right">
        <li class="name">
          <%= form_tag(search_films_path, method: :get) do%>
          <input type="text" id="quick_search_header" name="query">
          <% end %>
        </li>
        <li class="has-dropdown">
          <a href="#"><%= current_user.name %></a>
          <ul class="dropdown">
            <li><label>Films</label></li>
            <%= render partial: 'layouts/action_links' %>       
            <li>
              <label>Add Passport</label>
            </li>
            <% if !current_user.passport_provider? :facebook %>
              <li><a href="/auth/facebook" data-no-pjax>Facebook</a></li>
            <% end %>
            <% if !current_user.passport_provider? :twitter %>
              <li><a href="/auth/twitter" data-no-pjax>Twitter</a></li>
            <% end %>      
            <% if !current_user.passport_provider? :netflix %>
              <li><a href="/auth/netflix" data-no-pjax>Netflix</a></li>
            <% end %>
            <% if !current_user.passport_provider? :google_oauth2 %>
              <li><a href="/auth/google_oauth2" data-no-pjax>Google</a></li>
            <% end %>             
            <li>
              <label>Options</label>
            </li>
            <li>
              <%= link_to signout_path, id: "sign_out" do %>
                 <%= awesome 'signout'%> "Sign out"
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
            <ul class="left">
        <li class="has-dropdown">
         <a>  <%= awesome "film" %> films</a>
          <ul class="dropdown">
            <li><label>Current</label></li>
            <li><%= link_to 'Upcoming', trend_path(:upcoming) %></li>
            <li><%= link_to 'In Cinemas', trend_path(:now_playing) %></li>           
            <li><%= link_to 'Popular', trend_path(:popular) %></li>
            <li><label>Top Genres</label></li>
            <li><%= link_to 'Action', genre_path(:action) %></li>
            <li><%= link_to 'Adventure', genre_path(:adventure) %></li>
            <li><%= link_to 'Comedy', genre_path(:comedy) %></li>
            <li><%= link_to 'Sci-Fi', genre_path(:science_fiction) %></li>
            <li><%= link_to 'Drama', genre_path(:drama) %></li>
          </uL>
        </li>
      </ul>
      <ul class="right">
        <li class="has-dropdown">
          <a href="#"><i class="icon-signin"></i>Sign In</a>
          <ul class="dropdown">
            <li><label>Passports</label></li>
            <%= passport_link :facebook, "Facebook" %>
            <%= passport_link :twitter, "Twitter" %>
            <%= passport_link :netflix, "Netflix" %>      
            <%= passport_link :google_oauth2, "Google" %>
          </ul>
        </li>
        <li>
          <%= link_to "Sign Up", login_path, id:  "signin-link" %>
        </li>
      </ul>
      <% end %>
    </section>
  </nav>
</div>
