
<div class="twelve columns">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to 'filmlovers', root_path%>
        </h1>
      </li>
      <li class="toggle-topbar">
        <a href="#"></a>
      </li>
    </ul>
    <section>
      <!-- Left Nav Section -->
      <% if logged_in? %>
      <ul class="left">
        <li class="has-dropdown">
          <%= link_to "Films", user_film_index_path(current_user)  %>
          <ul class="dropdown">
            <li>
             <%= link_to "Watched", user_film_path(current_user, :watched) %>
              <label  data-bind="text: filmStats.watched"/>
            </li>
            <li>
              <%= link_to "Loved", user_film_path(current_user, :loved) %>
              <label  data-bind="text: filmStats.loved"/>
            </li>
            <li>
              <%= link_to "Owned",  user_film_path(current_user, :owned) %>
              <label  data-bind="text: filmStats.owned"/>
            </li>
            <li>
              <%= link_to "Queued", user_film_path(current_user, :queued) %>
              <label  data-bind="text: filmStats.queued"/>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to "Lists", user_lists_path(current_user) %>
        </li>
        <% if current_user.passport_provider? :facebook %>
          <li><a href="/">Facebook</a></li>
        <% end %>
        <% if current_user.passport_provider? :twitter %>
          <li><a href="/">Twitter</a></li>
        <% end %>
        <% if current_user.passport_provider? :netflix %>
          <li><a href="/">Netflix</a></li>
        <% end %>
        <% if current_user.passport_provider? :vimeo %>
          <li><a href="/">Vimeo</a></li>
        <% end %>
        <% if current_user.passport_provider? :google_oauth2 %>
          <li><a href="/">Google</a></li>
        <% end %>
      </ul><!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="#" data-bind="text:name"></a>
          <ul class="dropdown">
            <li>
              <label>Add Passport</label>
            </li>
            <% if !current_user.passport_provider? :facebook %>
              <li><a href="/auth/facebook" data-no-pjax>Facebook</a></li>
            <% end %>
            <% if !current_user.passport_provider? :twitter %>
              <li><a href="/auth/twitter" data-no-pjax>Twitter</a></li>
            <% end %>      
            <% if !current_user.passport_provider? :netflix %>
              <li><a href="/auth/netflix" data-no-pjax>Netflix</a></li>
            <% end %>
            <% if !current_user.passport_provider? :vimeo %>
              <li><a href="/auth/vimeo" data-no-pjax>Vimeo</a></li>
            <% end %>
            <% if !current_user.passport_provider? :google_oauth2 %>
              <li><a href="/auth/google_oauth2" data-no-pjax>Google</a></li>
            <% end %>             
            <li>
              <label>Options</label>
            </li>
            <li>
              <%= link_to "Sign out", signout_path, id: "sign_out", data:{'no_pjax'=>true} %>
            </li>
          </ul>
        </li>
      <% else %>
      <ul class="right">
        <li>
          <%= link_to "Sign in", login_path, id:  "signin-link", data:{'no_pjax'=>true} %>
        </li>
      </ul>
      <% end %>
    </section>
  </nav>
</div>
