<div class="twelve columns user-details">

  <div class="user-banner">
    <div class="one columns user-image">
      <%= avatar user %>
    </div>
    <div class="six columns user-name">
       <h3><%= user.username %></h3>
       <% if logged_in? %>
         <% if current_user.friends_with? user  %>
          <%= link_to friendship_path(user), method: :delete, remote: true, data: {action: :friendship}, :class=>'tiny button radius alert' do %>
            <%= awesome 'remove', 'icon-large' %> <span>remove friendship</span>
          <% end %>
         <% else %>
          <%= link_to friendship_path(user), method: :put, remote: true, data: {action: :friendship}, :class=>'tiny button radius success' do %>
            <%= awesome 'link', 'icon-large' %> <span>create friendship</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="five columns nav-container">

      <dl class="sub-nav right">
        <% [:watched, :loved, :owned].each do |action| %>
        <dd>
            <%= link_to user_film_path(user, action), alt: action, title: action do %>
              <%= icon_for action %> <label><%= user.actions_for(action).count %></label>
            <% end %>
        </dd>
        <% end %> 
         <dd>
          <%= link_to user_lists_path(user) do %>
            <%= awesome :list %> <label> <%=user_lists.count %> </label>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>

  <%= yield %>
</div>

