<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video# filmlovers-staging: http://ogp.me/ns/fb/filmlovers-staging# filmlovers: http://ogp.me/ns/fb/filmlovers#">
    <!-- TradeDoubler site verification 2247239 -->
    <meta name="msvalidate.01" content="F4694085705A9BABAA80DDD452A3681B" />

    <meta charset="utf-8" />
    
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
   

    <%= display_meta_tags :site => "filmlovers" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %> 
    <%= render partial: 'layouts/userecho' %> 
    <%= render partial: 'layouts/google_analytics' %> 
  </head>
  <body >
       
    <%= render :template => 'facebook/sdk' %>
    <div id="alerts" class="row"></div>

    <div id="wrap">
      <header id="header" class="row collapse">
        <%= render partial:"layouts/header" %>
      </header>

      <div id="container" class="row">
        <%= yield %>
      </div>
      <div id="modals"></div>
    </div>
   
    <%= render partial:"layouts/footer" %>
  </body>
</html>