<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <%= display_meta_tags :site => 'filmlovers - find, share, discover' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %> 


    <%= render partial: 'layouts/google_analytics' %> 
  </head>
  <body >
    <%= render :template => 'facebook/sdk' %>
    <header id="header" class="row">
      <%= render partial:"layouts/header" %>
    </header>

    <div id="container" class="row" data-pjax-container>
      <%= yield %>
    </div>

    <div class="push"></div>
    <div id="footer" class="row">
      <div class="twelve columns">
      <% if logged_in? %>
        <%= render partial:"layouts/footer" %>
      <% end %>

      <div class="social-links right">
        <a href="https://plus.google.com/u/0/b/102126390982504640495/communities/115013069818203491300" rel="publisher" target="_blank">Find us on Google+</a>
      </div>
      </div>
    </div>
    <div id="modals"></div>
  </body>
</html>